<!DOCTYPE html>
<html>
<head>
	<title>Heart diseases prediction</title>
</head>
<body>
<div align="center">
<h2>Information Of the patient</h2>

	<form action="{{ url_for('predict')}}"method="post">


		<div>
		<br>
		<label class="description" for="element_1">slope_of_peak_exercise_st_segment </label>
		<input id="element_1" name="slope_of_peak_exercise_st_segment" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		<br>
		<div>
		<label class="description" for="element_2">thal </label>
		<input id="element_2" name="thal" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		<br>
		<div>
		<label class="description" for="element_3">chest_pain_type </label>
		<input id="element_3" name="chest_pain_type" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		<br>
		<div>
		<label class="description" for="element_4">exercise_induced_angina </label>
		<input id="element_4" name="exercise_induced_angina" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		<br>
		<div>
		<label class="description" for="element_5">num_major_vessels </label>
		<input id="element_5" name="num_major_vessels" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		<br>
		<div>
		<label class="description" for="element_6">fasting_blood_sugar_gt_120_mg_per_dl</label>
		<input id="element_6" name="fasting_blood_sugar_gt_120_mg_per_dl" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		<br>
		<div>
		<label class="description" for="element_7">resting_ekg_results</label>
		<input id="element_7" name="resting_ekg_results" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		<br>
		<div>
		<label class="description" for="element_8">sex</label>
		<input id="element_8" name="sex" class="element text small" type="text" maxlength="255" value=""/>
		</div>

        <div>
		<label class="description" for="element_9">age</label>
		<input id="element_9" name="age" class="element text small" type="text" maxlength="255" value=""/>
		</div>

        <div>
		<label class="description" for="element_10">resting_blood_pressure</label>
		<input id="element_10" name="resting_blood_pressure" class="element text small" type="text" maxlength="255" value=""/>
		</div>

        <div>
		<label class="description" for="element_11">serum_cholesterol_mg_per_dl</label>
		<input id="element_11" name="serum_cholesterol_mg_per_dl" class="element text small" type="text" maxlength="255" value=""/>
		</div>

        <div>
		<label class="description" for="element_12">max_heart_rate_achieved</label>
		<input id="element_12" name="max_heart_rate_achieved" class="element text small" type="text" maxlength="255" value=""/>
		</div>

        <div>
		<label class="description" for="element_13">oldpeak_eq_st_depression</label>
		<input id="element_13" name="oldpeak_eq_st_depression" class="element text small" type="text" maxlength="255" value=""/>
		</div>



		<br>
		<div>
			 <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
		</div>
   <br>
   {{ prediction_text }}

	</form>